<form class="form-search"
	action="/search" method="POST"  enctype="multipart/form-data">

<div class="navbar">
<div class="navbar-inner" style="padding-top:20px;padding-bottom:20px">

<div class="row">

	<div class="span12">
		<div class="row">
			<div class="span1">
				<input type="file" id="f" name="f"></input>
			</div>
			<div class="input-append span10" style="text-align:right">
				<input type="text" class="search-query span7" 
					placeholder="query"
					id="q" name="q"
					value="${QUERY}" />
				<button type="submit" class="btn btn-primary">
					<i class="icon-search icon-white"></i> search
				</button>
			</div>
<script>
$$(document).ready( function() {
	$$("#f").click( function(){
		$$("#q")[0].value="";
	} );
});
</script>

		</div>
		<div class="row" style="text-align:center">
			${DESCRIPTION}
		</div>
	</div>
</div>
	
</div>
</div>

</form>

